*{
    margin: 0;
    
}
#naavbar{
    margin: 20px 70px 20px 70px;
}
#header{
    background-color: rgb(184, 183, 183);
    margin: 0px;
}
#body{
    margin: 0px;
    background-color: rgb(184, 183, 183);
}

ul{
    list-style-type: none;
    margin: 20px 70px 20px 70px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn
{
    margin: 15px 0px;
    float: right;
    color: green;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: solid 0.5px;
}
#btn:hover{
    color: red;
    background-color: green;
}
#first-display{
    margin: 20px 70px 20px 70px;
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    background-color: rgb(111, 139, 119) ;
    align-items: center;
    justify-content: space-between;
}
#first-paragraph{
    display: block;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
}
.button{
    margin: 15px 0px;
    color: white;
    background-color: rgb(5, 52, 5);
    padding: 10px;
    border-radius: 10px;
    border: 0cap;
}
.button:hover{
    color: white;
    background-color: red;
}
#bangladesh{
    color: hsl(0, 0%, 54%);
}
#second-display{
    display: flex;
    margin: 5px 60px 20px 60px;
    justify-content: space-between;
    text-align: justify;
}
#second-header{
    margin: 20px 70px 20px 70px;
}
.card{
    background-color: white;
    padding: 10px;
    border: solid 1px;
    margin: 10px;
    border-radius: 10px;
}
#third-display{
    margin: 5px 60px 20px 60px; 
    justify-content: center;

}
#third-content{
    display: flex;
    justify-content: space-between;

}
.third-paragraph{
    background-color: white;
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
}
#third-paragraph-1{
    background-color: skyblue;
}
#third-paragraph-2{
    background-color: rgb(41, 112, 41);
    text-align: justify;
}
#third-paragraph-3{
    background-color: plum;
    text-align: justify;
}
#third-header{
    margin: 0px 70px 20px 70px;
    text-align: justify;
}
.third-btn{
    margin: 15px 0px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}
#third-btn-1{
    background-color: rgb(2, 183, 255);
    color: white;
}
#third-btn-2{
    background-color: rgb(8, 82, 8);
    color: white;
}
#third-btn-3{
    background-color: rgb(191, 62, 131);
    color: white;
}
#third-btn-1:hover{
    background-color: rgb(255, 2, 196);
    color: black;
}
#third-btn-2:hover{
    background-color: rgb(255, 6, 22);
    color: black;
}
#third-btn-3:hover{
    background-color: rgb(0, 170, 255);
    color: black;
}
#fourth-display{
    margin: 40px 70px 20px 70px;  
    justify-content: center;
    background-image: url("quote-bg.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: 40px;
    background-position-y: 30px;
    border-radius: 15px;
    padding: 35px;
    text-align: justify;
}
#fifth-display{
    margin: 40px 70px 20px 70px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
#fifth-content{
    margin: 15px;
    background-color: rgb(184, 183, 183);
}
#fifth-header{
    margin: 0px 70px 0px 70px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color: skyblue;
    height: fit-content;
    border: 1px solid skyblue;
  }
  tr, td{
    border: 1px solid black;
  }
  td:nth-child(odd){
    width: 80%;
  }
  td:nth-child(even){
    width: 20%;
  }
  .td-nth-odd{
    text-align: left;
    padding: 10px;
  }
  .td-nth-even{
    text-align: right;
    padding: 10px;
  }
  .Select-1{
    padding: 15px 20px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
  }
  #sixth-header{
    margin: 0px 70px 0px 70px;
    text-align: justify;
}
#sixth-display{
    display: flex;
    align-items: center;
    margin: 40px 70px 20px 70px;  
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
.sixth-paragraph{
    text-align: justify;
    padding: 15px 15px 15px 0px;
}
.satelite{
    height: fit-content;
    border-radius: 15px;
}
#satelite-1{
    float: right;
}
#seventh-display{
    display: flex;
    align-items: center;
    margin: 40px 70px 20px 70px;  
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
.seventh-paragraph{
    text-align: justify;
    padding-top: 10px;
}
#seventh-content{
    padding: 15px 15px 15px 15px;
    justify-content: center;
    align-items: center;
}
#satelite-2{
    float: left;
}
#eighth-header{
    margin: 0px 70px 0px 70px;
    text-align: justify;
    text-align: center;
}
#eighth-display{
    display: flex;
    align-items: center;
    margin: 0px 70px 0px 70px;  
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
}
.donate{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
}
.donate:hover{
    background-color: green;
    color: red;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
#other-amount{
    border: 0px;
    border-radius: 5px;
    margin: 10px 70px 0px 70px; 
}
#donate-2{
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
}
#Submit{
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    margin: 0px 70px 0px 70px; 
    position: relative;
    text-align: center;
}
#Submit-1{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}
#ninth-display{
    align-items: center;
    margin: 10px 70px 20px 70px;  
    justify-content: center;
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    M
}
  .ninth-content{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: }
    input[type=Submit]{
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        background-color: green;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: left}
#last-display{
    display: flex;
    justify-content: center;
}
input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
  }