*{
    margin: 0;
    
}
#naavbar{
    margin: 20px 70px 20px 70px;
}
#header{
    background-color: rgb(184, 183, 183);
    margin: 0px;
}
#main{
    margin: 0px;
    background-color: rgb(184, 183, 183);
}

ul{
    list-style-type: none;
    margin: 20px 70px 20px 70px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn
{
    margin: 15px 0px;
    float: right;
    color: green;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: solid 1px;
}
#btn:hover{
    color: red;
    background-color: green;
}
#first-display{
    margin: 20px 70px 20px 70px;
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    background-color: rgb(111, 139, 119) ;
    align-items: center;
    justify-content: space-between;
}
#first-paragraph{
    display: block;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
}
.button{
    margin: 15px 0px;
    color: white;
    background-color: rgb(5, 52, 5);
    padding: 10px;
    border-radius: 10px;
    border: 0cap;
}
.button:hover{
    color: white;
    background-color: red;
}
#bangladesh{
    color: hsl(0, 0%, 54%);
}
#second-display{
    display: flex;
    margin: 20px 70px 20px 70px;
    justify-content: space-between;
}
.card{
    background-color: white;
    padding: 10px;
    border: solid 1px;
    margin: 10px;
    border-radius: 10px;
}
.card-paragraph{
    
}